<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuwaikeji.luyou.persistence.UserRelationsMapper" >
  <resultMap id="BaseResultMap" type="com.wuwaikeji.luyou.domain.UserRelations" >
    <id column="user_id1" property="userId1" jdbcType="BIGINT" />
    <id column="user_id2" property="userId2" jdbcType="BIGINT" />
    <result column="is_blacklist" property="isBlacklist" jdbcType="BIT" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="CHAR" />
    <result column="link_time" property="linkTime" jdbcType="TIMESTAMP" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id1, user_id2, is_blacklist, tag, label, source, link_time, apply_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.wuwaikeji.luyou.domain.UserRelationsKey" >
    select 
    <include refid="Base_Column_List" />
    from user_relations
    where user_id1 = #{userId1,jdbcType=BIGINT}
      and user_id2 = #{userId2,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.wuwaikeji.luyou.domain.UserRelationsKey" >
    delete from user_relations
    where user_id1 = #{userId1,jdbcType=BIGINT}
      and user_id2 = #{userId2,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wuwaikeji.luyou.domain.UserRelations" >
    insert into user_relations (user_id1, user_id2, is_blacklist, 
      tag, label, source, link_time, 
      apply_time)
    values (#{userId1,jdbcType=BIGINT}, #{userId2,jdbcType=BIGINT}, #{isBlacklist,jdbcType=BIT}, 
      #{tag,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, #{source,jdbcType=CHAR}, #{linkTime,jdbcType=TIMESTAMP}, 
      #{applyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wuwaikeji.luyou.domain.UserRelations" >
    insert into user_relations
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId1 != null" >
        user_id1,
      </if>
      <if test="userId2 != null" >
        user_id2,
      </if>
      <if test="isBlacklist != null" >
        is_blacklist,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="linkTime != null" >
        link_time,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId1 != null" >
        #{userId1,jdbcType=BIGINT},
      </if>
      <if test="userId2 != null" >
        #{userId2,jdbcType=BIGINT},
      </if>
      <if test="isBlacklist != null" >
        #{isBlacklist,jdbcType=BIT},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=CHAR},
      </if>
      <if test="linkTime != null" >
        #{linkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuwaikeji.luyou.domain.UserRelations" >
    update user_relations
    <set >
      <if test="isBlacklist != null" >
        is_blacklist = #{isBlacklist,jdbcType=BIT},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=CHAR},
      </if>
      <if test="linkTime != null" >
        link_time = #{linkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id1 = #{userId1,jdbcType=BIGINT}
      and user_id2 = #{userId2,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuwaikeji.luyou.domain.UserRelations" >
    update user_relations
    set is_blacklist = #{isBlacklist,jdbcType=BIT},
      tag = #{tag,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      source = #{source,jdbcType=CHAR},
      link_time = #{linkTime,jdbcType=TIMESTAMP},
      apply_time = #{applyTime,jdbcType=TIMESTAMP}
    where user_id1 = #{userId1,jdbcType=BIGINT}
      and user_id2 = #{userId2,jdbcType=BIGINT}
  </update>
</mapper>